@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: #eef5ff;
  font-family: "Ubuntu", serif;
}
body main {
  min-width: 100%;
  height: 100vh;
  background-color: #eef5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main__module {
  min-width: 70%;
  height: 70%;
  display: flex;
  background-color: #fefeff;
  justify-content: space-between;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1019607843);
}
body main .main__sidebar {
  width: 25%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
body main .main__sidebar .main__sidebar--svg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../multi-step-form-main/assets/images/bg-sidebar-desktop.svg);
}
body main .main__sidebar .main__sidebar--svg .main__sidebar--container {
  width: 100%;
  height: 100%;
  padding: 1.2rem 1.5rem;
}
body main .main__sidebar .main__sidebar--svg .main__sidebar--container .sidebar__steps__container {
  width: 100%;
  height: 12.5%;
  display: flex;
  align-items: center;
}
body main .main__sidebar .main__sidebar--svg .main__sidebar--container .sidebar__steps__container .sidebar__step__number {
  width: 35px;
  height: 35px;
  display: flex;
  color: #eef5ff;
  justify-content: center;
  align-items: center;
  border: solid 1px #eef5ff;
  border-radius: 50%;
}
body main .main__sidebar .main__sidebar--svg .main__sidebar--container .sidebar__steps__container .sidebar__step__number.active {
  background-color: #eef5ff;
  color: #032355;
  overflow: hidden;
}
body main .main__sidebar .main__sidebar--svg .main__sidebar--container .sidebar__steps__container .sidebar__paragraph__container {
  color: #eef5ff;
  margin-left: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}
body main .main__sidebar .main__sidebar--svg .main__sidebar--container .sidebar__steps__container .sidebar__paragraph__container .sidebar__step__title {
  letter-spacing: 0.12rem;
}
body main .main__sidebar .main__sidebar--svg .main__sidebar--container .sidebar__steps__container .sidebar__paragraph__container .sidebar__step__paragraph__number {
  font-weight: normal;
  margin-bottom: 0.2rem;
  font-size: 0.75rem;
  color: #a5a4aa;
}
body main .main__input {
  width: 75%;
  height: 100%;
}
body main .main__input .step-one {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
body main .main__input .step-one .main__input--wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 2rem;
}
body main .main__input .step-one .main__input--wrapper .title__container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
}
body main .main__input .step-one .main__input--wrapper .title__container h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #032355;
  padding: 0.3rem 0;
}
body main .main__input .step-one .main__input--wrapper .title__container .h1__description {
  width: 100%;
  font-size: 1rem;
  color: #a5a4aa;
  padding: 0.3rem 0;
}
body main .main__input .step-one .main__input--wrapper .input__description {
  color: #032355;
  font-size: 1rem;
  font-weight: 500;
  height: 4%;
  margin-bottom: -1rem;
}
body main .main__input .step-one .main__input--wrapper .input__personal-info {
  height: 10%;
  width: 100%;
  border: solid 1px #a5a4aa;
  border-radius: 10px;
}
body main .main__input .step-one .main__input--wrapper .input__personal-info::-moz-placeholder {
  padding-left: 0.7rem;
}
body main .main__input .step-one .main__input--wrapper .input__personal-info::placeholder {
  padding-left: 0.7rem;
}
body main .main__input .step-one .main__input--wrapper .input__textfield--error {
  border-color: #a00;
}
body main .main__input .step-one .main__input--wrapper .paragraph__textfield--error {
  color: #a00;
}
body main .main__input .step-one .btn--container {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
body main .main__input .step-one .btn--container #go-back {
  width: 30%;
  height: 100%;
  border: none;
  color: #a5a4aa;
}
body main .main__input .step-one .btn--container #next-step {
  font-size: 1.1rem;
  width: 30%;
  height: 100%;
  background-color: #032355;
  border-radius: 10px;
  color: #eef5ff;
}/*# sourceMappingURL=style.css.map */